
body {
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}

/* HEADER */

header{
background-image: url("../img/bg-banner-claro.png");
min-height: 100px;
text-align: left;
}

header h1{
font-family: 'Roboto', sans-serif;
font-size: 120px;
font-weight: bolder;
}

/* BODY */
.mulheres {
background-color: white;
}

.saibamais h2 {
font-size: 30px;
} 