/* geral */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;  */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}

/* HEADER */

header{
background-image: url("../img/bg-banner-claro.png");
min-height: 100px;
text-align: left;
}

header h1{
font-family: 'Roboto', sans-serif;
font-size: 120px;
font-weight: bolder;
}

.ondebg > div   {
background-color: #7e5a9b;
align-content: center;
max-width: 800px;
height: 150px;
margin: 20px auto;
}
    
.onde h1{
font-size: 35px;
color:#63458a;
font-family: 'Roboto', sans-serif;
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
}


.onde p { 
max-width: 800px;
height: 150px;
margin: 20px auto;
text-align: left;
line-height: 1.5em;
font-size: 19px;
}

.onde-destaque{
display: flex;
justify-content: center;
margin: 0 auto;
max-width: 800px;
}

.onde-destaque h2{
font-size: 70px;
font-weight: bolder;
padding-right: 30px;
}

.onde-destaque p {
max-width: 400px;
line-height: 1.5em;
font-size: 19px;
color: #7e5a9b;
font-weight: bolder;
}

.destaque div {
display: flex;
justify-content: center;
margin: 0 auto;
}